/* WSPÓLNE */
*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

h2{
    padding: 30px;
    font-size: 50px;
    text-align: center;
}

/* HEADER */

.main-header .main-heder-content{
    background-color: #c9c9c9;
    height: 350px;
    text-align: center;
}


/* .main-header .main-heder-content .triangle{
    width: 0;
	height: 0;
	border-top: 121px solid #2a6fc2;
	border-right: 121px solid transparent;
	margin: 25px auto 0;
    
    
    
} */

.main-header .main-heder-content h1{
    color: #2a6fc2;
    font-size: 70px;
    text-align: center;
    padding: 100px;
}

/* NAWIGACJA */

.main-menu{
    height: 70px;
    width: 100%;
    overflow:hidden;
    background-color: white;
    position: sticky;
    top: 0;
    left: 50%;
    z-index: 100;
}

.main-menu ul .menu-item{
    display: inline;
    float: right;
    margin-right: 25px;
    padding: 20px;
   
   
}

.main-menu ul .menu-item a{
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 30px;
}

/* sekcja o mnie */

.container-about{
    
    background-color: #edce95;
    position: relative;
}



.container-about .text-container{
    width: 40%;
    height: 350px;
    background-color: white;
    position: relative;
    bottom: 50px;
    left:30%;
    padding: 40px;
}

#circle{
    background-color: #808080;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.container-about .small-circle1{  
    position: absolute;
    top: 98%;
    right: 98%;
}

.container-about .small-circle2{  
    position: absolute;
    top: 98%;
    left: 98%;
}

.container-about .small-circle3{  
    position: absolute;
    bottom: 98%;
    right: 98%;
}

.container-about .small-circle4{  
    position: absolute;
    bottom: 98%;
    left: 98%;
}


/* Portfolio */

.container-portfolio{
    background-color: white;
    height: 400px;

}



.container-portfolio .portfolio-circle{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #808080;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
  
}





.address{
    background-color: #2a6fc2;
}